body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    margin: 0;
    background-color: purple;
    color: white;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #2d55ff;
    border-radius: 10px;
}

.app-description {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-align: left;
}

.input-group input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.button-group{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px 0;
}

button {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#verbalize {
    background-color: hotpink;
}

#randomBirthday {
    background-color: teal;
}

#clearZodiac {
    background-color: red;
}

button:hover {
    opacity: 0.8;
}

.result-group {
    margin-top: 20px;
    width: 100%;
    text-align: left;
}

#zodiacResult {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 15px;
    border-radius: 5px;
    min-height: 50px;
    margin-top: 10px;
    color: white;
}